body {
}

.app-header__logo {
    padding: 0 1.5rem;
    height: 60px;
    width: 280px;
    display: flex;
    align-items: center;
    transition: width .2s;
}
.app-header__logo .logo-src {
    height: 0px;
}

.mt-33 {
    margin-top: -33px;
}

.modal-backdrop.show {
    display: none;
}

.modal-dialog {
    margin-top: 100px;
}



#clientCompany {
    .table thead th {
        font-weight: 500;
    }

    .table th {
        padding: 0.22rem !important
    }
}



