@{
    ViewData["Title"] = "ProjectWorkOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>


<link rel="stylesheet" href="~/css/projects.css" />
 <link rel="stylesheet" href="~/css/data-table.css" />

<div class="main-card mb-3 card">
    <div class="card-body">
        <div id="workOrder">
            <h5 class="card-title"> {{pageName}} </h5>
            <div v-if="!hrsDetails">
                <div>
                    <form v-if="seen" class="p-4" v-on:submit.prevent="SubmitWorkOrder();return false">
                        <p v-if="errors.length">
                            <b class="text-danger">Please correct the following error(s):</b>
                        <ul>
                            <li v-for="error in errors" class="text-danger">{{ error }}</li>
                        </ul>
                        </p>

                        <div class="position-relative form-group">
                            <div class="form-row">
                                <div class="col-md-6 col-lg-6">
                                    <label for="exampleEmail" class=""> Project </label>
                                    <select id="wrkProject" v-model="project" class="form-control">
                                        <option :value="0"> Please select a project </option>
                                        <option v-for="prjt in projects" :value="prjt.id">
                                            {{ prjt.name }}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                   @* <label for="wrkCompany" class=""> Company </label>
                                    <select id="wrkCompany" v-model="comapny" class="form-control ">
                                        <option :value="0"> Please select a project </option>
                                        <option v-for="cmp in companies" :value="cmp.id">
                                            {{ cmp.name }}
                                        </option>
                                    </select>*@

                                </div>
                            </div>

                        </div>

                        <div class="position-relative form-group">
                            <div class="form-row mt-3">

                                <div class=" col-md-6 col-sm-12 col-lg-6">
                                    <label for="consecutiveWork" class=""> Work Order Name </label>
                                    <input name="consecutiveWork" placeholder="Work Order Name" class="form-control"
                                        v-model="consecutiveWork">
                                </div>

                                <div class=" col-md-6 col-sm-6 col-lg-6">
                                    <label for="budget" class=""> Work Order Budget </label>
                                    <input name="budget" placeholder="Budget" class="form-control" v-model="budget"
                                        v-on:keypress="isNumber($event)" v-on:blur="formatNumber">
                                </div>

                            </div>

                            <div class="form-row mt-3">

                                <div class=" col-md-6 col-sm-6 col-lg-6">
                                    <label for="startDate" class=""> Start Date </label>
                                    <input name="startDate" type="date" placeholder="" v-model="startDate"
                                        class="form-control">
                                </div>

                                <div class=" col-md-6 col-sm-6 col-lg-6">
                                    <label for="endDate" class=""> End Date </label>
                                    <input name="endDate" type="date" placeholder="" v-model="endDate"
                                        class="form-control">
                                </div>
                            </div>

                            <div class="form-row mt-4">

                                <div class="col-md-6 project-man  mt-2">
                                    <div class="address-border">
                                        <h5 class="div-legent"> Engineer </h5>
                                        <ul v-show="engErrors.length>0">
                                            <li v-for="error in engErrors" class="text-danger">{{ error }}</li>
                                        </ul>
                                        <div class="row">

                                            <div class="col-md-6 col-lg-6 col-sm-6">
                                                <label for="engineer">Select engineer </label>
                                                <select v-model="engineer" class="form-control">
                                                    <option :value="0"> Please select an engineer </option>
                                                    <option v-for="emp in allEng" :value="emp">
                                                        {{ emp.name }}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-sm-4">
                                                <label for="enghour">Hours</label>
                                                <input type="text" v-model="peHours" v-on:keypress="isNumber($event)"
                                                    class="form-control" />
                                            </div>
                                            <div class="col-md-2 col-lg-2 col-sm-2 mt-4">
                                                <button style="margin-top:5px" type="button"
                                                    class="btn btn-outline-info  btn-sm "
                                                    v-on:click="AddEnginer()">Add</button>
                                            </div>
                                            <div class="col-md-12 col-lg-12 col-s-12">
                                            </div>
                                            <div v-show="engineers.length>0" style="box-shadow:0 !important;width:97%"
                                                class="main-card mb-3 card mt-2 ">
                                                <div class="card-body">
                                                    <table style="box-shadow:0;width:98%"
                                                        class="mb-0 table table-borderless">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>Name</th>
                                                                <th>Hours</th>
                                                                <th>Remove</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr v-for="(eng,index) in engineers " :key="eng.id">
                                                                <th scope="row">{{index+1}}</th>
                                                                <td>{{eng.name}}</td>
                                                                <td>{{eng.hour}}</td>
                                                                <td> <button type="button"
                                                                        v-on:click="RemoverEngineer(eng.id)"
                                                                        class="btn btn-sm btn-outline-warning"> <i
                                                                            class="pe-7s-less"> </i> </button> </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-6 project-man  mt-2">
                                    <div class="address-border">
                                        <h5 class="div-legent"> Drawing </h5>
                                        <ul v-show="drwErrors.length>0">
                                            <li v-for="error in drwErrors" class="text-danger">{{ error }}</li>
                                        </ul>
                                        <div class="row">

                                            <div class="col-md-6 col-lg-6 col-sm-6">
                                                <label for="engineer">Select Drawing </label>
                                                <select v-model="drawing" class="form-control">
                                                    <option :value="0"> Please select a drawing man </option>
                                                    <option v-for="emp in allDrw" :value="emp">
                                                        {{ emp.name }}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-sm-4">
                                                <label for="drwhour">Hours</label>
                                                <input type="text" v-model="drawhours" v-on:keypress="isNumber($event)"
                                                    class="form-control" />
                                            </div>
                                            <div class="col-md-2 col-lg-2 col-sm-2 mt-4">
                                                <button style="margin-top:5px" type="button"
                                                    class="btn btn-outline-info  btn-sm "
                                                    v-on:click="AddDrawing()">Add</button>
                                            </div>
                                            <div class="col-md-12 col-lg-12 col-s-12">
                                            </div>
                                            <div v-show="drawings.length>0" style="box-shadow:0 !important;width:97%"
                                                class="main-card mb-3 card mt-2 ">
                                                <div class="card-body">
                                                    <table style="box-shadow:0" class="mb-0 table table-borderless">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>Name</th>
                                                                <th>Hours</th>
                                                                <th>Remove</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr v-for="(drw,index) in drawings " :key="drw.id">
                                                                <th scope="row">{{index+1}}</th>
                                                                <td>{{drw.name}}</td>
                                                                <td>{{drw.hour}}</td>
                                                                <td> <button type="button"
                                                                        v-on:click="RemoveDrwaing(drw.id)"
                                                                        class="btn btn-sm btn-outline-warning"> <i
                                                                            class="pe-7s-less"> </i> </button> </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div class="form-row mt-3">
                                <label for="exampleText" class=""> Work Order Description </label>
                                <textarea name="text" class="form-control" v-model="description"> </textarea>
                            </div>
                        </div>
                        <button type="submit" class="mt-1 btn btn-primary"> <strong> <i class='fa fa-save'></i> <span
                                    id="spSaveUpdate"> Submit </span> </strong> </button>
                    </form>

                    <div class="col-md-3">
                        <button v-on:click="showHide()" type="button" class="btn btn-outline-warning mt-4">
                            <i v-if="!seen" class="pe-7s-plus"> </i>
                            <i v-if="seen" class="pe-7s-less"> </i>
                            Work Order
                        </button>
                    </div>

                </div>
                <div v-if="showDetails" class="card-body ">
                    <div class="row">
                        <div class="col-md-4"> Project No : {{projectNo}} </div>
                        <div class="col-md-3"> Project : {{consProject}} </div>
                        <div class="col-md-3"> Year :{{projectYear}} </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4"> OT No : {{wrkNo}} </div>
                        <div class="col-md-3"> OT Name : {{wrkConsWork}} </div>
                        <div class="col-md-3"> Start Date :{{wrkStartDate}} </div>
                        <div style="width:20% !important" class="col-md-2">Due Date :{{wrkEndDate}} </div>

                    </div>

                    <div class="row mt-3">
                        <div class="col-md-4"> Submit Budget : {{sbudget}} </div>
                        <a href="#" v-on:click="showFullBudget(wrk,1)" class="col-md-4"> Approved Budget : {{abudget}}
                        </a>
                        <a href="#" v-on:click="showFullHrs(wrk,2)" class="col-md-2"> Spent hour :{{ahours}} </a>

                    </div>

                    <div class="row mt-3">
                        <div class="col-md-12"> Client Name : {{clientName}} </div>

                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">Company Name : {{companyName}} </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-12"> Description : {{description}} </div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Work order list </h5>
                        <table id="allWorkOrder" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th>SL</th>
                                    <th>Project Name</th>
                                    <th>Work Order No</th>
                                    <th> Work Order</th>
                                    <th> Start Date</th>
                                    <th> End Date</th>
                                    <th>O. Budget</th>
                                    <th> Acction</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(wrk,index) in workOrders" :key="wrk.id">
                                    <td>{{index+1}}</td>
                                    <td>{{wrk.projectName}}</td>
                                    <td>{{wrk.workOrderNo}}</td>
                                    <td>{{wrk.consecutiveWork}}</td>
                                    <td>{{wrk.startDateStr}}</td>
                                    <td>{{wrk.endDateStr}}</td>
                                    <td>{{wrk.approvedBudget}}</td>
                                    <td>
                                        <button type="button" v-on:click="ShowWorkOrder(wrk)"
                                            class="btn btn-outline-info btn-sm">
                                            <i class="metismenu-icon pe-7s-door-lock"></i> Details
                                        </button>
                                    </td>
                                </tr>

                            </tbody>


                        </table>
                    </div>

                </div>

            </div>

            <div class="p-3" v-if="hrsDetails">

                <div class="row">
                    <div class="col-md-4"> Project No : {{projectNo}} </div>
                    <div class="col-md-3"> Project : {{consProject}} </div>
                    <div class="col-md-3"> Year :{{projectYear}} </div>
                </div>
                <div class="row p-2 mt-3">
                    <div> Work Order No : <a href="#" v-on:click="ShowWorkOrderDetails()" class="col-md-4"> {{wrkNo}}
                        </a> </div>
                    <div class="col-md-3"> Work Order : {{wrkConsWork}} </div>
                    <div class="col-md-3"> Start Date :{{wrkStartDate}} </div>
                    <div style="width:20% !important" class="col-md-2">Due Date :{{wrkEndDate}} </div>
                </div>

                <div v-if="!IsInv" class="row p-2 mt-2">
                    <table v-if="assignEmp.length" class="mb-0 table table-borderless" style="width:60%">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Type </th>
                                <th> Budgeted </th>
                                <th> HRS </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(hrs,index) in assignEmp" :key="hrs.id">
                                <td>{{hrs.empName}}</td>
                                <td>{{hrs.empType}}</td>
                                <td>{{hrs.bhour}}</td>
                                <td> <a href="#" v-on:click="showHrsEmployeWise()"> {{hrs.lhour}} </a> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div v-if="IsInv" class="card-body">
                    <h5 class="card-title">Invoice Details </h5>
                    <table id="invDetailsOrder" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>Project Name</th>
                                <th>Work Order No</th>
                                <th>Work Order </th>
                                <th> Invoice No</th>
                                <th> Invoice bill </th>
                                <th> Invoice Date</th>
                                <th>Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(inv,index) in invDetails" :key="inv.id">
                                <td>{{index+1}}</td>
                                <td>{{inv.projectName}}</td>
                                <td>{{inv.workNo}}</td>
                                <td>{{inv.workOrderName}}</td>
                                <td>{{inv.invoiceNumber}}</td>
                                <td>{{inv.partialBill}}</td>
                                <td>{{inv.invoiceDateStr}}</td>
                                <td>{{inv.balance}}</td>
                            </tr>

                        </tbody>


                    </table>
                </div>


                <div v-if="!IsInv" class="card-body">
                    <h5 class="card-title">Hours log Details </h5>
                    <table id="empHrsDetails" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>Project No</th>
                                <th>Work Order No</th>
                                <th>Work Order </th>
                                <th> Employee </th>
                                <th> Type </th>
                                <th> HRS </th>
                                <th>Date </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(hrs,index) in empHrsDetails" :key="hrs.id">
                                <td>{{index+1}}</td>
                                <td>{{hrs.projectNo}}</td>
                                <td>{{hrs.wrkNo}}</td>
                                <td>{{hrs.wrkName}}</td>
                                <td>{{hrs.empName}}</td>
                                <td>{{hrs.empType}}</td>
                                <td>{{hrs.lhour}}</td>
                                <td>{{hrs.logDateStr}}</td>
                            </tr>

                        </tbody>


                    </table>
                </div>
            </div>
        </div>
    </div>


    <script src="~/views/Workorder.js"></script>
</div>
