
@{
    ViewData["Title"] = "Project Budget";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <link rel="stylesheet" href="~/css/projects.css" />
     <link rel="stylesheet" href="~/css/data-table.css" />

    <div class="main-card mb-3 card">
    <div id="projectAct" class="card-body">
       <h5 class="card-title">Activities </h5>
    <div  class="col-md-12">

           <div class="card-body">
                <ul class="nav nav-tabs nav-justified">
                    <li class="nav-item"><a data-toggle="tab" href="#tab-eg11-1" class="active nav-link"> Work Order Budget   </a></li>
                    <li class="nav-item"><a data-toggle="tab" href="#ProjectStatus" class="nav-link"> Work Order Status   </a></li>
                </ul>
                <div class="tab-content">

                    <div class="tab-pane active" id="tab-eg11-1" role="tabpanel">
                        <table id="allwrkBudget" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th> # </th>
                                   @* <th> Year </th>
                                    <th> Project </th>*@
                                    <th> Budget No </th>
                                    <th>  OT No </th>
                                    <th> OT Name </th>
                                    <th> Budget</th>
                                    <th> S. Date </th>
                                    <th>A. Budget </th>
                                    <th>A. Date </th>
                                    <th> Status </th>
                                    <th>Action </th>
               
                                </tr>
                            </thead>

                            <tbody>
                            <tr v-for="(wrk,index) in wrkBudgets" :key="wrk.id">
                                <td>{{index+1}}</td>
                            @*    <td>{{wrk.year}}</td>
                                <td>{{wrk.projectNo}}</td>*@
                                <td>{{wrk.budegtNo}}</td>
                                <td>{{wrk.workerOrderNo}}</td>
                                <td>{{wrk.consecutiveWork}}</td>
                                <td>{{formatCurrenct(wrk.budget)}}</td>
                                <td>{{wrk.budgetSubmitDateStr}}</td>
                                <td>{{wrk.approvedBudget}}</td>
                                <td v-if="wrk.approvalDateStr !='01/01/00001'">{{wrk.approvalDateStr}}</td>
                                <td v-if="wrk.approvalDateStr =='01/01/00001'"> </td>
                                <td>{{wrk.approvalStatusStr}}</td>
                                <td> 
                                <button type="button" v-on:click="approvalPop(wrk)" class="btn btn-outline-info btn-sm">
                                    <i class="metismenu-icon pe-7s-pen"></i>
                                </button> 
                        
                            </td>
                            </tr>
        
                            </tbody>
                    </table>
            </div>

          

                    <div class="tab-pane" id="ProjectStatus" role="tabpanel">

                     <table id="allwrkBudgetStatus" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th> # </th>
                                   @* <th> Year </th>
                                    <th> Project </th>*@
                                    <th> OT No </th>
                                    <th> OT Name </th>
                                    <th> Budget</th>
                                    <th> S. Date </th>
                                    <th>A. Budget </th>
                                    <th>A. Date </th>
                                    <th> Status </th>
                                    <th>Action </th>
               
                                </tr>
                            </thead>

                            <tbody>
                            <tr v-for="(wrk,index) in wrkBudgets" :key="wrk.id">
                                <td>{{index+1}}</td>
                               @* <td>{{wrk.year}}</td>
                                <td>{{wrk.projectNo}}</td>*@
                                <td>{{wrk.workerOrderNo}}</td>
                                <td>{{wrk.consecutiveWork}}</td>
                                <td>{{formatCurrenct(wrk.budget)}}</td>
                                <td>{{wrk.budgetSubmitDateStr}}</td>
                                <td>{{wrk.approvedBudget}}</td>
                                <td v-if="wrk.approvalDateStr !='01/01/00001'">{{wrk.approvalDateStr}}</td>
                                <td v-if="wrk.approvalDateStr =='01/01/00001'"> </td>
                                <td>{{wrk.workOrderStatus}}</td>
                                <td> 
                                <button type="button" v-on:click="statusChangePop(wrk)" class="btn btn-outline-info btn-sm">
                                    <i class="metismenu-icon pe-7s-pen"></i>
                                </button> 
                        
                            </td>
                            </tr>
        
                            </tbody>
                    </table>
                     
                    </div>


                </div>
            </div>
    </div>

        <div class="modal fade ml-5" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div style="width:580px" class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Budget Approval Status </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                 
                  <div class="form-group">
                      <div  class="position-relative form-group  pd-4">
                                 <div class=" row m-3">
                                      <div class="col-md-6 col-sm-6">  Budget No : {{budgetNo}}  </div>
                                      <div class="col-md-6 col-sm-6">  Work Order Name : {{wrkName}}  </div>
                                      <div class="col-md-6 col-sm-6">  Budget : {{appBudget}}  </div>
                                      <div class="col-md-6 col-sm-6">  Submit Date : {{submitDate}}  </div>
                                 </div>
                                 
                                <label for="exampleEmail" class=""> Budget Approval Status  </label>

                            <div class=" row m-3">
                                <div class="col-md-4 col-sm-4  custom-radio custom-control">
                                    <input type="radio" id="exampleCustomRadio" value="1" v-model="appStatus" name="apStatus" v-on:change="onChangeStatus(1)" class="custom-control-input" >
                                    <label class="custom-control-label" for="exampleCustomRadio"> Approved </label>
                                </div>
                                <div class="col-md-4 col-sm-4 custom-radio custom-control">
                                    <input type="radio" id="exampleCustomRadio2" value="2" v-model="appStatus" name="apStatus" v-on:change="onChangeStatus(2)" class="custom-control-input">
                                    <label class="custom-control-label" for="exampleCustomRadio2"> Not Approved </label>
                                </div>
                                   <div class="col-md-4 col-sm-4  custom-radio custom-control">
                                    <input type="radio" id="exampleCustomRadio3" value="3" v-model="appStatus" name="apStatus" v-on:change="onChangeStatus(3)" class="custom-control-input" checked>
                                    <label class="custom-control-label" for="exampleCustomRadio3"> Budget Change </label>
                                </div>
                            </div>
                        </div>
                  </div>
                   <div v-if="isApproved" class="form-group">
                    <label for="recipient-name"  class="col-form-label"> {{bLabel}} : </label>
                    <input type="text" v-model="appBudget"  class="form-control"  v-on:keypress="isNumber($event)"  v-on:blur="formatNumber">
                  </div>

                  <div class="form-group mt-1">
                    <label for="message-text" class="col-form-label" > Comments </label>
                     <textarea v-model="appComment" class="form-control" ></textarea>
                  </div>
                   <p v-if="errors.length">
                    <b class="text-danger">Please correct the following error(s):</b>
                    <ul>
                      <li v-for="error in errors" class="text-danger">{{ error }}</li>
                    </ul>
                  </p>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button  v-on:click="approvalSubmit()" type="button" class="btn btn-primary">  <strong> <i class='fa fa-save'></i> Submit </strong> </button>
               
              </div>
            </div>
          </div>
        </div>


         <div class="modal fade" id="projectstatusModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Work Order Status </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                 
                  <div class="form-group">
                     
                  </div>
                   <div id="divAppBudget" class="form-group">
                    <label for="recipient-name"  class="col-form-label"> Select Current Status : </label>
                        <select style="width:100%"  v-model="wrkState" class="form-control">
                              <option :value="0"> Please select a status </option>
                            <option v-for="wrkS in wrkStatus" :value="wrkS.value">
                                {{ wrkS.statusName }}
                            </option>
                        </select>
                   </div>

                  <div class="form-group mt-1">
                    <label for="message-text" class="col-form-label">  Comments </label>
                    <textarea class="form-control"  v-model="wrkComments" ></textarea>
                  </div>

                   <p v-if="errors.length">
                    <b class="text-danger">Please correct the following error(s):</b>
                    <ul>
                      <li v-for="error in errors" class="text-danger">{{ error }}</li>
                    </ul>
                  </p>
               
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button v-on:click="statusChangeSubmit()"  type="button" class="btn btn-primary">  <strong> <i class='fa fa-save'></i> Submit </strong> </button>
               
              </div>
            </div>
          </div>
        </div>

  
    @section Scripts {
        <script src="~/views/ProjectActivities.js"> </script>
    }
    
  </div>
</div>
