@{
    ViewData["Title"] = "Hour Logs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Web.Models
@model EmployeePageDetails
@{
    string currentName = "";
    string currentRole = "";
    string currentEmail = "";

    byte[] currentRoleByte;
    byte[] currentNameByte;
    byte[] currentEmailByte;

    if (Context.Session.Keys.Count() > 0)
    {
        Context.Session.TryGetValue("current_user_role", out currentRoleByte);
        Context.Session.TryGetValue("current_user_name", out currentNameByte);
        Context.Session.TryGetValue("current_user_email", out currentEmailByte);


        if (currentRoleByte != null && currentNameByte != null && currentEmailByte != null)
        {
            currentRole = System.Text.Encoding.Default.GetString(currentRoleByte);
            currentName = System.Text.Encoding.Default.GetString(currentNameByte);
            currentEmail = System.Text.Encoding.Default.GetString(currentEmailByte);
        }
    }
}

<div id="archiveDiv">
    <link rel="stylesheet" href="~/css/data-table.css" />
    <div style="min-height:500px" class="main-card mb-3 card">
            <div class="card-body"><h5 class="card-title"> Active Proejcts </h5>
                     <div class="card-body"><h5 class="card-title"> Projects </h5>
                                        <table id="wrkAdminPanel" class="mb-0 table table-striped">
                                            <thead>
                                            <tr style="font-size:14px">
                                                <th> # </th>
                                                <th> Year </th>
                                                <th> Project No</th>
                                                <th> Budget No</th>
                                                <th> Work  No </th>
                                                <th> Name  </th>
                                                <th> Budget </th>
                                                <th> Paid Amount </th>
                                            
                                            </tr>
                                            </thead>
                                               <tbody>
                                                  <tr v-for="(wrk,index) in workOrders" :key="wrk.id">
                                                        <td>{{index+1}}</td>
                                                        <td>{{wrk.projectYear}}</td>
                                                        <td>{{wrk.projectNo }}</td>
                                                        <td>{{wrk.wrkBudgetNo }}</td>
                                                        <td>{{wrk.workOrderNo }}</td>
                                                        <td>{{wrk.consecutiveWork }}</td>
                                                        <td>{{wrk.approvedBudget }}</td>
                                                        <td>{{wrk.approvedBudget - wrk.balance  }}</td>
                                                     
                                                    </tr>
                                                 </tbody>
                                          
                                        </table>
                                    </div>
        </div>
    </div>
    @section Scripts {
        <script src="~/views/AdminPanel.js"></script>
    }
  </div>











