<div class="ui-theme-settings">
    <button style="display:none" type="button" id="TooltipDemo" class="btn-open-options btn btn-warning">
            <i class="fa fa-cog fa-w-16 fa-spin fa-2x"></i>
    </button>

        <div class="theme-settings__inner">
            <div class="scrollbar-container">
                <div class="theme-settings__options-wrapper">
                    <h3 class="themeoptions-heading">Our current projects
                    </h3>
                    <div class="p-3">
                            
                    </div>
                </div>
            </div>
        </div>

    </div> 