
@{
    ViewData["Title"] = "Hour Logs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Web.Models
@model AdminPageDetails
@{
    string currentName = "";
    string currentRole = "";
    byte[] currentRoleByte;
    byte[] currentNameByte;

    if (Context.Session.Keys.Count() > 0)
    {
        Context.Session.TryGetValue("current_user_role", out currentRoleByte);
        Context.Session.TryGetValue("current_user_name", out currentNameByte);

        if (currentRoleByte != null && currentNameByte != null)
        {
            currentRole = System.Text.Encoding.Default.GetString(currentRoleByte);
            currentName = System.Text.Encoding.Default.GetString(currentNameByte);
        }
    }
}

    <link rel="stylesheet" href="~/css/projects.css" />
    <link rel="stylesheet" href="~/css/data-table.css" />
    <div id="hourLog" class="row">
        
        <div class="col-12 main-card mb-3 card">
            <div class="card-body "> 
                
                 <div class="col-md-6 col-lg-6"> 
                    <h5 class="card-title">Hours log </h5>

                           <p v-if="errors.length">
                    <b class="text-danger">Please correct the following error(s):</b>
                    <ul>
                      <li v-for="error in errors" class="text-danger">{{ error }}</li>
                    </ul>
                  </p>
               
                    <form class="p-2" >

                         <label for="wrkOrderId"> Work Order </label>
                        <select style="width:100%" id="wrkOrderId"  v-model="wrkId" class="form-control">
                            <option :value="0"> Please select a work order </option>
                            <option v-for="wrkS in workOrders" :value="wrkS.id">
                                {{ wrkS.consecutiveWork }}
                            </option>
                        </select>

                          <label for="wrkOrderId"> Employe </label>
                        <select style="width:100%" id="employeeId"  v-model="empId" class="form-control">
                            <option :value="0"> Please select Employee </option>
                            <option v-for="emp in hrsEmp" :value="emp.id">
                                {{ emp.name }}
                            </option>
                        </select>

                        <div id="divBudget" class="position-relative form-group">
                            <div class="row">
                                <div class =" col-md-6 col-sm-6 col-lg-6">
                                    <label for="spentHour" class="">  Spent Hour(s) :  </label>
                                    <input  v-model="spentHour" name="spentHour"  placeholder="Spent Hours"  v-on:keypress="isNumber($event)"  class="form-control">
                                </div>

                                <div class ="col-md-6 col-sm-6 col-lg-6">
                                    <label  for="hourLog" class=""> Hour(s) log Date:  </label>
                                    <input name="hourLog" type="date" v-model="hourLogDate" placeholder="Hour(s) log Date" class="form-control moneyFormat">
                                </div>

                            </div>

                        </div>

                        <div class=" mt-1 position-relative form-group">
                            <label for="exampleText" class=""> <span id ="spComment"> Remarks : </span>  </label>
                            <textarea name="text"  v-model="comments" class="form-control"></textarea>
                        </div>

                        <button type="button"  v-on:click ="SubmitHourLogs()" class="mt-1 btn btn-primary"> <strong> <i class='fa fa-save'></i> <span id="spSaveUpdate"> Submit </span>  </strong> </button>
                    </form>
                
            </div>


                <div id="hourLog" class="col-md-12 col-sm-12 col-lg-12" >

         <div class="modal-body wrkHourLog" style="width:100%">
            <table  class="table table-striped table-bordered" style="width:100%">
                <thead style="width:100%">
                    <tr>
                        <th>SL</th>
                        <th class="m-hide">Name </th>
                        <th>Work No</th>
                        <th>Work Order</th>
                        <th> Spent Date </th>
                        <th> Spent Hour </th>
               
                    </tr>
                </thead>
            <tbody>
              <tr v-for="(log,index) in logs" :key="log.id">
                    <td>{{index+1}}</td>
                    <td class="m-hide">{{log.empName}}</td>
                    <td>{{log.workOrderNo}}</td>
                    <td>{{log.workOrderName}}</td>
                    <td>{{log.spentDateStr}}</td>
                    <td>{{log.spentHour}}</td>
                </tr>
        
             </tbody>
            </table>
            
              </div>

                </div>

            </div>
       
    </div>
    </div>
   
    
     <script src="~/views/adminHourlogs.js"></script>

      <div class="col-md-1"></div>

  


