
@{
    ViewData["Title"] = "Hour Logs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <link rel="stylesheet" href="~/css/projects.css" />
    <div id="hourLog" class="row">
        
        <div class="col-12 main-card mb-3 card">
            <div class="card-body "> 
                
                 <div class="col-md-6 col-lg-6"> 
                    <h5 class="card-title">Hours log </h5>

                           <p v-if="errors.length">
                    <b class="text-danger">Please correct the following error(s):</b>
                    <ul>
                      <li v-for="error in errors" class="text-danger">{{ error }}</li>
                    </ul>
                  </p>
                    <form class="p-2" >
                   
                
                        <select style="width:100%" id="wrkOrderId"  v-model="wrkId" class="form-control">
                              <option :value="0"> Please select a work order </option>
                            <option v-for="wrkS in workOrders" :value="wrkS.id">
                                {{ wrkS.consecutiveWork }}
                            </option>
                        </select>

                        <div id="divBudget" class="position-relative form-group">
                            <div class="row">
                                <div class =" col-md-6 col-sm-6 col-lg-6">
                                    <label for="spentHour" class="">  Spent Hour(s) :  </label>
                                    <input  v-model="spentHour" name="spentHour"  placeholder="Spent Hours"  v-on:keypress="isNumber($event)"  class="form-control">
                                </div>

                                 <div class ="col-md-6 col-sm-6 col-lg-6">
                                    <label  for="hourLog" class=""> Hour(s) log Date:  </label>
                                    <input name="hourLog" type="date" v-model="hourLogDate" placeholder="Hour(s) log Date" class="form-control moneyFormat">
                                </div>

                            </div>
                        
                        </div>
                 
                        <div class=" mt-1 position-relative form-group">
                            <label for="exampleText" class=""> <span id ="spComment"> Remarks : </span>  </label>
                            <textarea name="text"  v-model="comments" class="form-control"></textarea>
                        </div>
                   
                        <button type="button"  v-on:click ="SubmitHourLogs()" class="mt-1 btn btn-primary"> <strong> <i class='fa fa-save'></i> <span id="spSaveUpdate"> Submit </span>  </strong> </button>
                    </form>
                </div>

                <div id="hourLog" class="col-md-12 col-sm-12 col-lg-12" >

         <div class="modal-body" style="width:100%">
            <table  class="table table-striped table-bordered" style="width:100%">
                <thead style="width:100%">
                    <tr>
                        <th>SL</th>
                         <th>Name </th>
                        <th>Project No</th>
                        <th> Project </th>
                        <th> Spent Date </th>
                        <th> Spent Hour </th>
               
                    </tr>
                </thead>
            <tbody>
              <tr v-for="(log,index) in logs" :key="log.id">
                    <td>{{index+1}}</td>
                    <td>{{log.empName}}</td>
                    <td>{{log.projectNo}}</td>
                    <td>{{log.project}}</td>
                    <td>{{log.spentDateStr}}</td>
                    <td>{{log.spentHour}}</td>
                </tr>
        
             </tbody>
            </table>
            
              </div>

                </div>

            </div>
       
    </div>
    </div>
   
    
     <script src="~/views/hourlogs.js"></script>

      <div class="col-md-1"></div>

  


