
@{
    ViewData["Title"] = "Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <div id="invPay" class="row">
    <link rel="stylesheet" href="~/css/projects.css" />
    <style>
    .select2-container .select2-selection--single{
        min-height:37px;
    }
    </style>

    <div class="main-card mb-3 card">
            <div class="card-body"><h5 class="card-title"> Invoice </h5>
                <form class="p-2" action="#" onsubmit="SubmitInvoice();return false" >
                     <p v-if="errors.length">
                        <b class="text-danger">Please correct the following error(s):</b>
                        <ul>
                            <li v-for="error in errors" class="text-danger">{{ error }}</li>
                        </ul>
                    </p>
                    <div class="row">
                     
                        <div class=" col-md-6 col-lg-6 position-relative form-group">
                             <label for="partialBill" class="">  Select the a work order :  </label>
                          <select style="width:100%" id="wrkOrderId"  v-model="wrkS" class="form-control">
                              <option :value="0"> Please select a work order </option>
                                <option v-for="wrk in workOrders" :value="wrk.id">
                                    {{ wrk.consecutiveWork }}
                                </option>
                          </select>
                        </div>
                    </div>

                    <div v-if="isWrkVisiblity" >
                         <div class="row">
                            <div class="col-md-6 col-sm-12"> Work Order No :  </div>
                            <div class="col-md-6 col-sm-12"> Work Order :  </div>
                            <div class="col-md-6 col-sm-12"> OT Budget :  </div>
                            <div class="col-md-6 col-sm-12">  Balance :  </div>

                            <div class="col-md-6 col-sm-12"> Project No   :  </div>
                            <div class="col-md-6 col-sm-12"> Project Year :  </div>
                           
                        </div>
                    </div>

                    <div  class="position-relative form-group">
                        <div class="row">
                            <div class =" col-md-6 col-sm-6 col-lg-6">
                                <label for="partialBill" class="">  Partial bill :  </label>
                                <input name="project" v-model="partialBill" id="partialBill"  v-on:keypress="isNumber($event)" v-on:blur="formatNumberPartialBill" placeholder="Partial bill" class="form-control">
                            </div>

                             <div class ="col-md-6 col-sm-6 col-lg-6">
                                <label id="invbill" for="exampleEmail" class=""> Invoice bill:  </label>
                                <input name="project" v-model="invoicebill" id="invbill"  v-on:keypress="isNumber($event)" v-on:blur="formatNumberInvBill" placeholder="Approved Budget" class="form-control">
                            </div>

                             <div class =" mt-4 col-md-6 col-sm-6 col-lg-6">
                                <label for="invNumber" class="">  Invoice Number :  </label>
                                <input name="project" v-model="invoiceNumber" id="invNumber" placeholder="Invoice Number" class="form-control">
                            </div>

                             <div class =" mt-4 col-md-6 col-sm-6 col-lg-6">
                                <label   for="invoiceDate" class=""> Invoice Date:  </label>
                                <input name="project" v-model="invoiceDate" type="date" id="invoiceDate" placeholder="Invoice Date" class="form-control">
                            </div>

                        </div>
                        
                    </div>
                 
                    <div class=" mt-1 position-relative form-group">
                        <label for="remark" class=""> <span id ="spComment"> Remarks : </span>  </label>
                        <textarea name="text" id="remark" v-model="remark" class="form-control"></textarea>
                    </div>
                   
                    <button type="button" v-on:click="submitInvoice()" class="mt-1 btn btn-primary"> <strong> <i class='fa fa-save'></i> <span id="spSaveUpdate"> Submit </span>  </strong> </button>
                </form>

                     <div class="card-body"><h5 class="card-title"> Invoice </h5>
                                        <table id="invAllLogs" class="mb-0 table table-striped">
                                            <thead>
                                            <tr style="font-size:14px">
                                                <th> # </th>
                                                <th> Work No</th>
                                                <th> Work Order </th>
                                                <th> Date  </th>
                                                <th> Invoice Bill </th>
                                                <th> Balance </th>
                                            </tr>
                                            </thead>
                                               <tbody>
                                                  <tr v-for="(inv,index) in allInv" :key="inv.id">
                                                        <td>{{index+1}}</td>
                                                        <td>{{inv.workNo}}</td>
                                                        <td>{{inv.workOrderName}}</td>
                                                        <td>{{inv.invoiceDateStr}}</td>
                                                        <td>{{inv.invoiceNumber}}</td>
                                                        <td>{{inv.balance}}</td>
                                                    </tr>
                                                 </tbody>
                                          
                                        </table>
                                    </div>
        </div>
    </div>
    @section Scripts {
        <script src="~/views/InvoicePay.js"></script>
    }
  </div>


