
 <aside id="sidebar" class="sidebar">
     <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
         </NavLink>
      </li>

      <li class="nav-item">
        <NavLink class="nav-link" href="listing" >
                    <span class="oi oi-home" aria-hidden="true"></span> Listing
         </NavLink>
      </li>

     @* <li class="nav-item">
           <NavLink class="nav-link" href="register">
                <span class="oi oi-plus" aria-hidden="true"></span> Register
           </NavLink>
      </li>

      <li class="nav-item">
        <NavLink class="nav-link" href="login">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Login
        </NavLink>
      </li>*@

    </ul>
 </aside>

@code {
  
}
