@{
    ViewData["Title"] = "Hour Logs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string currentName = "";
    string currentRole = "";
    byte[] currentRoleByte;
    byte[] currentNameByte;

    if (Context.Session.Keys.Count() > 0)
    {
        Context.Session.TryGetValue("current_user_role", out currentRoleByte);
        Context.Session.TryGetValue("current_user_name", out currentNameByte);

        if (currentRoleByte != null && currentNameByte != null)
        {
            currentRole = System.Text.Encoding.Default.GetString(currentRoleByte);
            currentName = System.Text.Encoding.Default.GetString(currentNameByte);
        }
    }
}

<div class="main-card mb-3 card">
    <div id="app" class="card-body">
        <div id="addEmploye" class="card-body">
            <h5 class="card-title">Add Employee</h5>
            <form v-on:submit.prevent="submitForm" method="post" novalidate="true">
                <p v-if="errors.length">
                    <b class="text-danger">Please correct the following error(s):</b>
                <ul>
                    <li v-for="error in errors" class="text-danger">{{ error }}</li>
                </ul>
                </p>
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="position-relative form-group">
                            <label for="name" class="">First Name</label>
                            <input name="name" placeholder="First Name" type="text" class="form-control"
                                v-model="firstName">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="position-relative form-group">
                            <label for="lastName" class="">Last Name</label>
                            <input name="lastName" placeholder="Last Name" type="email" v-model="lastName"
                                class="form-control">
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-6">
                        <div class="position-relative form-group">
                            <label for="email" class="">Email</label>
                            <input name="email" placeholder="Please enter valid email" type="text" class="form-control"
                                v-model="email" v-on:blur="validateEmail">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="position-relative form-group">
                            <label for="phone" class="">Phone</label>
                            <input name="phone" id="phone" placeholder="(99) 9999-9999" type="text" v-model="phone"
                                v-on:input="handlePhoneInput" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-6">
                        <div class="position-relative form-group">
                            <label for="email" class="">Password</label>
                            <input name="password" placeholder="Please enter password" type="password" class="form-control"
                                v-model="password" v-validate="'required|min:8|max:16'">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="position-relative form-group">
                            <label for="phone" class="">Confirm Password</label>
                            <input name="password" placeholder="Please enter confirm password" type="password"
                                class="form-control" v-model="confirmPassword">
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-6">
                        <div class="position-relative form-group">
                            <label for="role" class="">Role</label>
                            <select v-model="role" class="form-control">
                                <option :value="0"> Please select a role </option>
                                <option v-for="role in roles" :value="role.name">
                                    {{ role.name }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <button style="width:140px" type="submit" class="btn btn-outline-primary"> Submit
                    </button>
                </div>
            </form>
            <script src="~/views/Employee.js"></script>
        </div>
    </div>
</div>