@{
	ViewData["Title"] = "Generate Reports";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string currentName = "";
    string currentRole = "";
    byte[] currentRoleByte;
    byte[] currentNameByte;

    if (Context.Session.Keys.Count() > 0)
    {
        Context.Session.TryGetValue("current_user_role", out currentRoleByte);
        Context.Session.TryGetValue("current_user_name", out currentNameByte);

        if (currentRoleByte != null && currentNameByte != null)
        {
            currentRole = System.Text.Encoding.Default.GetString(currentRoleByte);
            currentName = System.Text.Encoding.Default.GetString(currentNameByte);
        }
    }
}


    <main style="margin-left: 2%; margin-right: 2%">
         <div class="row">
            <div class="col-md-12">
                <h3>Generate Excel Reports: </h3>
            </div>
            <div class="col-md-2" style="margin-top: 20px">
                <label for="reportType">Please select a type of projects: </label>
                <select class="form-control" id="reportType">
                   <option value="0">All Projects</option>
                    <option value="1">Pending Projects</option>
                    <option value="2">Delayed Projects</option>
                    <option value="3">Modified Projects</option>
                    <option value="5">Completed Projects</option>
                    <option value="6">Invoiced Projects</option>
                    <option value="4">Archived Projects</option>
                </select>
            </div>
            <div class="col-md-12">
                <a id="generateReportHref" href="http://ec2-3-144-165-25.us-east-2.compute.amazonaws.com/api/Project/get-excel-report?projectStatus=0"> <button class="btn btn-sm btn-success" style="margin-top: 20px; margin-bottom: 50px">Generate Report</button></a>
            </div>
        </div>

            <script src="~/js/site.js" asp-append-version="true"></script>
            <script src="~/js/adminPanel.js" asp-append-version="true"></script>
            <script src="~/js/employeeDashboard.js" asp-append-version="true"></script>
    </main>

