<div class="row">
    <div class="col-md-12 text-center">
        <h2>Admin Control Panel</h2>
    </div>
</div>
<div class="row" style="margin-top: 80px">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12 text-center"><h3><u>Add new Employee</u></h3></div>
        </div>
        <div class="row" style="margin-top: 20px">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <label for="addNewUserEmail">Employee email:</label>
                <input type="text" id="addNewUserEmail" class="form-control" />
                <label for="addNewUserPassword" style="margin-top: 20px">Employee password:</label>
                <input type="password" id="addNewUserPassword" class="form-control" />
                <label for="addNewUserConfirmPassword" style="margin-top: 20px">Confirm password:</label>
                <input type="password" id="addNewUserConfirmPassword" class="form-control" />
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 text-center">
                        <button class="btn btn-block btn-sm btn-success" style="margin-top: 20px; margin-bottom: 50px">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-12 text-center"><h3><u>Add new Project</u></h3></div>
    </div>
</div>